*{
    box-sizing: border-box;
    margin: 0 ;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

header{
  background-color: #2C3E50;
  color: #fcfcfc;
  padding: 30px;
  text-transform: uppercase;
  width: 100%;
}

.navegador{
  display: flex;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  height: 40px;
  width: 100%;
  z-index: 0;
}

.idem-freelance a{
  font-size: 1.6em;
  padding: 20px;
}

ul{
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}

a{
  color: #fcfcfc;
  text-decoration: none;
  padding: 10px;
}

.menuList:hover a{
  color:#2dc9a9;
}

.nav-small {
  font-size: 1em;
  position: fixed;
  width: 100%;
}

.inicio {
  background-color: #2dc9a9;
  color: #fbfcfc;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  }
.container-inicio{

}
.container-inicio span{
  flex-wrap: nowrap;
  flex-direction: row;
  width: 200px;
}
.portafolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container-image{
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

}
.image-portafolio img{
  width: 400px;
  height: 250px;
}
